.enlaceMiPerfil {
  height: 35px;
  font-weight: 700;
  color: #e7e6e6;
  background-color: #e95317;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
}

.enlaceMiPerfil:hover {
  background-color: #333332;
  transition: 0.3s;
}

button.botonSalir {
  height: 35px;
  font-weight: 700;
  color: #e7e6e6;
  background-color: #e95317;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.botonSalir:hover {
  background-color: #333332;
  transition: 0.3s;
}

img.iconoSalir {
  background-color: #f0f0f000;
  height: 15px;
  padding-left: 5px;
}
