header.headerGlobal {
  width: 1000px;
  margin: 0 auto;
  padding: 2rem 0 0 0;

  display: grid;

  grid-template-columns: 30% 70%;

  align-items: center;
  justify-items: center;
}
section.sectionLogo {
  width: 300px;
  display: flex;
  justify-content: center;
}
section.sectionNav {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}
img.logoHeader {
  width: 250px;
  grid-column: 1;
}

nav.navHeaderGlobal {
  display: flex;
  align-items: center;
  padding-right: 20px;

  gap: 1.5rem;
}
