.legalNoticeGlobal {
  width: 1000px;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.legalNoticeTitulo {
  text-align: center;
  margin-bottom: 2rem;
}

p.legalNoticeP {
  text-align: center;
}

img.legalNoticePng {
  width: 600px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
